
/* 
    Created on : 22 févr. 2015, 20:37:59
    Author     : Francois
*/
.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
