
<div class="container">

    <h1 class="text-center login-title"> Sign in to continue to Angular Passport </h1>
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Connexion à votre Géant Vert</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>

</div>
