<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="fr" ng-app="gardenApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="fr" ng-app="gardenApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="fr" ng-app="gardenApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html lang="fr" ng-app="gardenApp" class="no-js">  <![endif]-->
<html lang="fr" ng-app="gardenApp">
    <head>
        <title>Connexion à votre Géant Vert</title>
        <!-- Bootstrap Core CSS -->
        <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">

        <!-- MetisMenu CSS -->
        <link href="/metisMenu/dist/metisMenu.min.css" rel="stylesheet" type="text/css">

        <!-- Dashboard CSS -->
        <link href="/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet" type="text/css">

        <!-- Morris Charts CSS -->
        <link href="/morrisjs/morris.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">       
    </head>
    <body>
         <div id="wrapper">

        <!-- Header --> 
        <div ng-include="'/views/header.html'"></div>
        
        <div class="container" ng-view=""></div>
        

        <div ng-include="'/views/footer.html'"></div>
        
        <script src="/angular/angular.js"></script>
        <script src="/angular-route/angular-route.js"></script>        
        
        <!-- Our Website Javascripts -->
        <script src="gardenApp.js"></script>

        <!-- jQuery -->
        <script src="/jquery/dist/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="/metisMenu/dist/metisMenu.min.js"></script>

        <!-- Morris Charts JavaScript -->
        <script src="/raphael/raphael-min.js"></script>
        <script src="/morrisjs/morris.min.js"></script>

        <!-- Admin Theme JavaScript -->
        <script src="/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"></script>
    </body>
</html>
